@import "../../vendor/photon/sass/photon.scss";
@import "../../vendor/Font-Awesome/scss/font-awesome.scss";

table.filer {
	overflow: hidden;
}

table.filer tbody {
	overflow: scroll;
}

table.filer td, table.filer th {
	padding: 2px 0.5em;
}

table.filer tr {
	border-bottom: solid 1px transparent;
}

table.filer tr.selective {
	border-bottom: solid 1px blue;
}

* {
	outline: 0px;
}

// .window {
// 	height: 100%;
// 	overflow-y: hidden;
// }

